/10k/
/Full-version/
/cifar_train/
/results/
/results2/
/output/
/results3/
/7399.png
/actor.jpg
/bacup__img_6.png
/chris.jpg
/img_gray_version.png
/img_result.png
/man.jpg
/man.jpgimg_gray_version.png
/man.jpgimg_result.png
/nat.jpg
/test.jpg
/testgray.jpg
/testgray2.jpg
/testout.jpg
/woman.jpg
/woman.jpgimg_gray_version.png
/woman.jpgimg_result.png
/tf-benchmark.py
/places_out/
/env/
/cifar_results/
